flows2.json
[{"id":"4a69ca7b.56aff4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f8ca6fcc.bf3b6","type":"http response","z":"4a69ca7b.56aff4","name":"","statusCode":"","headers":{},"x":350,"y":660,"wires":[]},{"id":"17a48f60.c49031","type":"debug","z":"4a69ca7b.56aff4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":760,"wires":[]},{"id":"ad58b84a.857d58","type":"http request","z":"4a69ca7b.56aff4","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DOjaPgiQ/datapoints.csv","tls":"","proxy":"","authType":"","x":440,"y":560,"wires":[["f8ca6fcc.bf3b6","17a48f60.c49031"]]},{"id":"5b204f8d.e982f","type":"function","z":"4a69ca7b.56aff4","name":"t","func":"msg.headers={\n     deviceKey:\"mvBTGGfMrOHPFO2x\"\n    };\nmsg.payload=\"Temperature,,23.5\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":560,"wires":[["ad58b84a.857d58"]]},{"id":"d22b6cf5.c69b5","type":"inject","z":"4a69ca7b.56aff4","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":460,"wires":[["5b204f8d.e982f"]]}]