flows3.json
[{"id":"45978c5a.d76434","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b241af0c.e2fbf","type":"http response","z":"45978c5a.d76434","name":"","statusCode":"","headers":{},"x":290,"y":320,"wires":[]},{"id":"47e4f199.0ed19","type":"debug","z":"45978c5a.d76434","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":420,"wires":[]},{"id":"49ee2a69.431724","type":"http request","z":"45978c5a.d76434","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DOjaPgiQ/datapoints.csv","tls":"","proxy":"","authType":"","x":380,"y":220,"wires":[["b241af0c.e2fbf","47e4f199.0ed19"]]},{"id":"d59bb9b7.4d2ee8","type":"function","z":"45978c5a.d76434","name":"t","func":"msg.headers={\n     deviceKey:\"mvBTGGfMrOHPFO2x\"\n    };\nmsg.payload=\"Temperature,,1000\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":220,"wires":[["49ee2a69.431724"]]},{"id":"16edf916.195b87","type":"inject","z":"45978c5a.d76434","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":120,"wires":[["d59bb9b7.4d2ee8"]]}]