flows1.json
[{"id":"c18a2ded.02379","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"58de7de1.db1be4","type":"rpi-gpio out","z":"c18a2ded.02379","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":370,"y":180,"wires":[]},{"id":"854ecca0.07d96","type":"inject","z":"c18a2ded.02379","name":"on","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":80,"wires":[["58de7de1.db1be4","30a1e4a0.0e3bdc"]]},{"id":"51c8c91e.0f77a8","type":"inject","z":"c18a2ded.02379","name":"off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":160,"wires":[["58de7de1.db1be4","30a1e4a0.0e3bdc"]]},{"id":"30a1e4a0.0e3bdc","type":"debug","z":"c18a2ded.02379","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":20,"wires":[]}]